@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --bg-color: #111;
  --color-text: #FFF;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--bg-color);
  color: var(--color-text);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.lists{
  margin-top: -150px;
}

.loading{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}